# Domaine ou sous-domaine de votre n8n
# Exemple : si votre URL est n8n.mondomaine.com
SUBDOMAIN=n8n
DOMAIN_NAME=votredomaine.com

# Fuseau horaire pour la Côte d'Ivoire
GENERIC_TIMEZONE=Africa/Abidjan
