# Environnement & Secrets
.env
*.env.local

# Données Docker / Caddy (si montées localement)
caddy_data/
caddy_config/

# Logs
*.log
npm-debug.log*

# OS & Editeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
